{% extends "base.html" %}

{% block content %}
<section class="newsl-banner">
    <div class="newsl-imgSidebar">
      <img src="https://lh3.googleusercontent.com/pw/ACtC-3dCPrkK7u8S1eJqjaYVwE_oOBjHNjXFxya73nvES_8_oKn2q5vHgf9VO8dbAz4tr9R0wRibo3Y_KJPqKXSd7qu9kxkursTvqpWvzflqBY8Sv_IMi3k_4Tbgtl9HKoB252NSY81BXjXFoWihv2Nsm_ms=w266-h270-no?authuser=0">
    </div>
    <div class="newsl-contentBx">
      <h5 class="logoText"></h5>
      <div>
        <h2>Success! You're now subscribed.</h2>
        <h4>You've been succesfully subscribed!</h4>
        <p>Check your inbox soon for great emails from us!</p>
        <img src=https://www.iconpacks.net/icons/2/free-sent-email-icon-2579-thumb.png>
      </div>
    </div>
  </section>
{% endblock %}  