{% extends "base.html" %}

{% block content %}
<body>
    <div class="banner">
        <header>
            <div class="wrapper">
                <div class="logo">
                    <a href="/">FEEPAY</a>
                </div>
                <nav>
                    <a href="#">Home</a>
                    <a href="#">About</a>
                    <a href="#">Portfolio</a>
                    <a href="#">Services</a>
                    <a href="#">Login</a>
                </nav>
            </div>
        </header>
        <div class="banner-area">
            <h2>Endless possibilities
            </h2>
        </div>
        <div class="content-area">
            <div class="wrapper">
                <h2>Content Area</h2>
                <p>placeholder</p>
            </div>
        </div>
    </div>
</body>

{% endblock %}  